.game {
	background-color: #1F253D;
	color: white;
	border: 20px solid #40496f;
}

.feedback {
	background-color: #cc324b;
	width: 24%;
	padding: 2px;
	text-align: center;
	margin: 0 auto;
	font-size: 28px;
	border-radius: 4px;
}